

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:url(215462.gif);
  width: 100vw;
  height: 100vh;
  display: flexbox;
}

@font-face {
  font-family: 'Prstart.ttf';
  src: url(PrStart.ttf);
}
h1 {
  text-align: center;
  font-family: 'Prstart.ttf',monospace, sans-serif;
  font-size: 40px;
  margin: 50px;
  color : #352b49;
  box-shadow: #d1cddb;
  
}
#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 300px;
  
}


#clear-board {
  margin-bottom: 1800%;
  padding: 12px;
  font-size: 0.7em;
  background: white;
  display: block;
  max-width: 100px;
  margin: 10px auto;
  border-color: #fff;
  font-family:'Prstart.ttf', sans-serif;
}

#board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
}

#generate-board {
  cursor: pointer;
  padding: 4px;
  font-size: 0.6em;
  background: none;
  border-color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

#pixel-board {
  display: block;
   
}
 
.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  
} 
.container-pixel{
  width: 100%;
  display: flex;
  justify-content: center;

}
.container-button{
  text-align: center;
}
#button-random-color{
    padding: 15px;
   box-sizing: border-box;
  font-size: 0.7em;
  background:white;
  display: block;
  max-width: 150px;
  margin: 15px auto;
  border-color : #ffd1a3;
  font-family:'Prstart.ttf', sans-serif;
  color:#352b49
}

